<chemistry></chemistry>
<div class="container-fluid">
    <header class="page-header">
        <h1>
            <small>Chemistry</small>
        </h1>
    </header>
    <div class="row">
        <!--1-->
        <aside class="col-lg-2">
            <header class="page-header">
                <h1>
                    <small>LEFT SIDE BAR</small>
                </h1>
            </header>
        </aside>
        <!--2-->
        <div class="col-lg-8">
            <article>
                <header class="page-header">
                    <small>
                        <h1 class="col-lg-offset-4">MAIN CONTENT</h1>
                    </small>
                    </small>
                </header>
                <p>Te quid aliqua ubi excepteur, se et dolor cillum sunt ab ab deserunt exquisitaque an e minim summis
                    ne pariatur. Quamquam imitarentur ubi iudicem. Commodo quid dolore cernantur summis, senserit qui
                    aliqua fabulas, excepteur sint arbitror quibusdam an duis excepteur ab arbitror. Fugiat si laboris,
                    voluptate eram fore o quis. Laborum imitarentur an commodo, iis de nisi veniam veniam. Mandaremus
                    hic quibusdam, nescius nam admodum, labore possumus ea voluptate ut cernantur cillum ex doctrina
                    despicationes si ad nulla reprehenderit ad probant dolor ullamco cupidatat, te lorem cohaerescant,
                    doctrina reprehenderit ita officia.</p>

                <p>Te quid aliqua ubi excepteur, se et dolor cillum sunt ab ab deserunt exquisitaque an e minim summis
                    ne pariatur. Quamquam imitarentur ubi iudicem. Commodo quid dolore cernantur summis, senserit qui
                    aliqua fabulas, excepteur sint arbitror quibusdam an duis excepteur ab arbitror. Fugiat si laboris,
                    voluptate eram fore o quis. Laborum imitarentur an commodo, iis de nisi veniam veniam. Mandaremus
                    hic quibusdam, nescius nam admodum, labore possumus ea voluptate ut cernantur cillum ex doctrina
                    despicationes si ad nulla reprehenderit ad probant dolor ullamco cupidatat, te lorem cohaerescant,
                    doctrina reprehenderit ita officia.</p>

                <p>Te quid aliqua ubi excepteur, se et dolor cillum sunt ab ab deserunt exquisitaque an e minim summis
                    ne pariatur. Quamquam imitarentur ubi iudicem. Commodo quid dolore cernantur summis, senserit qui
                    aliqua fabulas, excepteur sint arbitror quibusdam an duis excepteur ab arbitror. Fugiat si laboris,
                    voluptate eram fore o quis. Laborum imitarentur an commodo, iis de nisi veniam veniam. Mandaremus
                    hic quibusdam, nescius nam admodum, labore possumus ea voluptate ut cernantur cillum ex doctrina
                    despicationes si ad nulla reprehenderit ad probant dolor ullamco cupidatat, te lorem cohaerescant,
                    doctrina reprehenderit ita officia.</p>

                <p>Te quid aliqua ubi excepteur, se et dolor cillum sunt ab ab deserunt exquisitaque an e minim summis
                    ne pariatur. Quamquam imitarentur ubi iudicem. Commodo quid dolore cernantur summis, senserit qui
                    aliqua fabulas, excepteur sint arbitror quibusdam an duis excepteur ab arbitror. Fugiat si laboris,
                    voluptate eram fore o quis. Laborum imitarentur an commodo, iis de nisi veniam veniam. Mandaremus
                    hic quibusdam, nescius nam admodum, labore possumus ea voluptate ut cernantur cillum ex doctrina
                    despicationes si ad nulla reprehenderit ad probant dolor ullamco cupidatat, te lorem cohaerescant,
                    doctrina reprehenderit ita officia.</p>

                <p>Te quid aliqua ubi excepteur, se et dolor cillum sunt ab ab deserunt exquisitaque an e minim summis
                    ne pariatur. Quamquam imitarentur ubi iudicem. Commodo quid dolore cernantur summis, senserit qui
                    aliqua fabulas, excepteur sint arbitror quibusdam an duis excepteur ab arbitror. Fugiat si laboris,
                    voluptate eram fore o quis. Laborum imitarentur an commodo, iis de nisi veniam veniam. Mandaremus
                    hic quibusdam, nescius nam admodum, labore possumus ea voluptate ut cernantur cillum ex doctrina
                    despicationes si ad nulla reprehenderit ad probant dolor ullamco cupidatat, te lorem cohaerescant,
                    doctrina reprehenderit ita officia.</p>

            </article>
        </div>

        <!--3-->
        <aside class="col-lg-2">
            <header class="page-header">
                <h1>
                    <small>
                        RIGHT SIDEBAR
                    </small>
                </h1>
            </header>
        </aside>
    </div>
</div>
