<div class="container-fluid">
	<br/>
	<br/>
	<br/>
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
			<a class="tile" href="#/math">Mathematics</a>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<a class="tile" href="#/it">Information Technologies</a>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<a class="tile" href="#/chemistry">Chemistry</a>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-6">
			<a class="tile" href="#/physics">Physics</a>
		</div>
	</div>
</div>