<brand-header></brand-header>
<br/>
<br/>
<!--<div class="container-fluid">-->
	<!--<div id="slider" class="slider">-->
		<!--<div id="1" class="col-lg-12">-->
			<!--<h1>-->
				<!--<small>-->
					<!--SLIDE ONE-->
				<!--</small>-->
			<!--</h1>-->
		<!--</div>-->

		<!--<div id="2" class="col-lg-12">-->
			<!--<h1>-->
				<!--<small>-->
					<!--SLIDE TWO-->
				<!--</small>-->
			<!--</h1>-->
		<!--</div>-->

		<!--<div id="3" class="col-lg-12">-->
			<!--<h1>-->
				<!--<small>-->
					<!--SLIDE THREE-->
				<!--</small>-->
			<!--</h1>-->
		<!--</div>-->

		<!--<div id="4" class="col-lg-12">-->
			<!--<h1>-->
				<!--<small>-->
					<!--SLIDE FOUR-->
				<!--</small>-->
			<!--</h1>-->
		<!--</div>-->
	<!--</div>-->
	<!--<br/>-->
	<!--<br/>-->
	<!--<div class="row">-->
		<!--<div class="col-lg-6">-->
			<!--<button class="btn btn-default pull-left">PREV</button>-->
		<!--</div>-->

		<!--<div class="col-lg-6">-->
			<!--<button class="btn btn-default pull-right">NEXT</button>-->
		<!--</div>-->
	<!--</div>-->
</div>
<brand-nav></brand-nav>
<script>
    var sliderInt = 1,sliderNext = 2;
$(document).ready(function () {
	'use strict';
	$("#slider > div#1").fadeIn(350);

	startSlider();
});


function startSlider() {
	'use strict';
	var count = $('#slider > div').size();

	var loop = setInterval(function () {

		if (sliderNext > count) {
			sliderNext = 1;
			sliderInt = 1;
		}

		$('#slider > div').fadeOut(350);
		$('#slider > div#' + sliderNext).fadeIn(300);
		sliderInt = sliderNext;
		sliderNext = sliderNext + 1;
	}, 3000);
}
</script>
